html, body {
    height: 100%;
}

body {
    background-color: #70CF51;
    font-family: 'Press Start 2P', cursive;
    color:white;
    font-size:22px;
    overflow:hidden;
    margin:0px; padding:0px;
    background-image: url(../images/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body * {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

splash {
    font-size:2em;
    cursor: pointer;
    width:600px;
    height:100px;
    margin-top:calc(45vh - 50px);
    margin-left:calc(45vw - 250px);
    text-align:center;
}

ball {
    background-image: url(../images/ball.png);
    background-size: contain;
    width:40px; height:37.5px;
}

paddle {
    background-image: url(../images/paddle.png);
    background-size: contain;
    width:100px; height:25px;
}

brick {
    background-image: url(../images/brick.png);
    background-size: contain;
    border: 1px;
    width: 75px; height: 25px;
}
